.header {
  color: #000;
  line-height: var(--line-height);
  width: 100%;
}

.header__container {
  align-items: center;
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  height: var(--header-height);
  padding: 0 var(--app-container-gutter);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header__nav {
  align-items: center;
  color: #000;
  display: -webkit-box;
  display: flex;
  font-size: 0.7777777778rem;
  margin: 0 auto 0 1.3333333333rem;
  width: 100%;
}

.header__nav li {
  margin-right: 1.3333333333rem;
}
